In [1]:
import pandas as pd

In [13]:
books = pd.read_csv("C:/Users/Mario/Desktop/Data_Visualization/Numpy y Pandas/Pandas/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv", sep=',', header=0)
books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [3]:
def two_times(value):
    return value*2

In [4]:
books['User Rating'].apply(two_times)

0      9.4
1      9.2
2      9.4
3      9.4
4      9.6
      ...
545    9.8
546    9.4
547    9.4
548    9.4
549    9.4
Name: User Rating, Length: 550, dtype: float64

In [6]:
books['User Rating'].apply(lambda x: x*2)

0      9.4
1      9.2
2      9.4
3      9.4
4      9.6
      ...
545    9.8
546    9.4
547    9.4
548    9.4
549    9.4
Name: User Rating, Length: 550, dtype: float64

In [11]:
books.apply(lambda x : x['User Rating']*2 if x['Genre'] == 'Fiction' else x['Genre'],axis=1)

0      Non Fiction
1              9.2
2      Non Fiction
3              9.4
4      Non Fiction
          ...
545            9.8
546    Non Fiction
547    Non Fiction
548    Non Fiction
549    Non Fiction
Length: 550, dtype: object