In [31]:
import pandas as pd
import numpy as np

In [32]:
dictionary = {
    'Col1': [1,2,3,np.nan],
    'Col2': [4, np.nan,6,7],
    'Col3': ['a', 'b', 'c', None]
}

dataframe = pd.DataFrame(dictionary)
dataframe

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [33]:
dataframe.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [34]:
dataframe.fillna('Missing')

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

In [35]:
dataframe.interpolate()

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

In [36]:
dataframe.dropna()#elimina todas las filas con valores nulos, si se agrega inplace=True los valores se eliminan del dataframe raiz

In [48]:
dataframe
dataframe.dropna(subset=['Col2'])#elimina las filas con valores nulos en la columna indicada

   Col1  Col2  Col3
0   1.0   4.0     a
2   3.0   6.0     c
3   NaN   7.0  None